#!/bin/sh

# Copyright (c) 2012 John Reese
# Licensed under the MIT license

# Set this properly
REPO_LOCATION = file:///absolute/path/to/repository
REV=$(svn log $REPO_LOCATION -r$2 -v --xml)

# Set this properly
URL="http:///mantis_address/plugin.php?page=Source/checkin"
PROJECT="testSVN"
# Set this properly
API_KEY="XXXXXXXXXX"

# Set this properly
LOG_FILE=/absolute_path_to_log_file

# Set this properly
CURL=/absolute_path_to_curl

${CURL} -d "repo_name=${PROJECT}" -d "data=${REV}" -d "api_key=${API_KEY}" ${URL} >> ${LOG_FILE}
